.scroll-body {
    min-height: calc(100vh - 100px);
    min-width: 160px;
    margin: 50px auto;
    border-radius: 15px;
    border: 1px solid var(--card-border);
    background-color: var(--side-main-background);
}

.nav-container {
    display: flex;
    justify-content: right;
}

.nav-bar {
    font-size: large;
    font-weight: 400;
    width: 50%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 15px;
    background-color: var(--cards);
    border: 1px var(--card-border);
}
.active-link {
  color: var(--highlight);      /* soft mint green */
  font-weight: 550;
  font-size: 20px;
}