<div class="scroll-body">
  <div class="nav-container">
    <div class="nav-bar">
      <div class="nav-item"><a routerLink="/about" routerLinkActive="active-link">about</a></div>
      <div class="nav-item"><a routerLink="/resume" routerLinkActive="active-link">resume</a></div>
      <div class="nav-item"><a routerLink="/portfolio" routerLinkActive="active-link">portfolio</a></div>
      <div class="nav-item"><a routerLink="/blog" routerLinkActive="active-link">blog</a></div>
      <div class="nav-item"><a routerLink="/contact" routerLinkActive="active-link">contact</a></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
