.description {
    margin-block: 20px;
}

.expertise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.expertise-card {
    text-align: center;
    margin: 10px;
    width: 45%;
}

@media (max-width: 700px) {
    .expertise-card {
        width: 80%;
    }
}
