.container {
    display: flex;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-inline: 15px 10px;
    width: 20%;
    min-width: 250px;
}

.main {
    margin: 0px auto;
    width: 75%;
    min-width: 700px;
}

@media (max-width: 900px)
{
    .container {
        justify-content: space-around;
        flex-direction: column;
    }

    .side-bar {
        margin: 0 auto;
        height: auto;
        width: 80%;
    }
    .main {
        width: 90%;
    }
}